 .u-section-1 {
  background-image: url("images/Capwevwq34ew3hbbhehbrhbehbreg4gw344e2021110113501620211101140336.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 845px;
}

.u-section-1 .u-image-1 {
  width: 505px;
  height: 505px;
  margin: 110px 14px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 510px;
  min-height: 716px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  height: auto;
  margin: -149px auto 60px 23px;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.25rem;
  margin: 27px 56px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  align-self: center;
  font-weight: 700;
  background-image: none;
  border-style: solid;
  margin: 53px auto 0 0;
  padding: 20px 51px 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1521px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1165px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}